@charset "UTF-8";

@media screen and (max-width:768px) {
    h1{
        position: absolute;
        background-color: rgb(96, 96, 255);
        text-align: center;
        padding-top: 12px;
        margin-top: 115px;
        font-size: 18px;
        width: 100%;
        height: 60px;
        
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
        top: -2%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    h2, p{
        font-size: 14px;
    }
    form > div.campo{
        width: 92%;
        margin-left: 15px;
        margin-top: 50px;
    }
    #c1{
        font-size: 12px;
    }
}

@media screen and  (min-width: 768px) and (max-width: 992px) {
    
    h1{
        position: absolute;
        background-color: rgb(96, 96, 255);
        text-align: center;
        padding-top: 20px;
        margin-top: 240px;
        font-size: 18px;
        width: 450px;
        height: 60px;
        
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    #header-h2{
        font-size: 50px;
    }
    #header-p{
        font-size: 30px;
    }
    form > div.campo{
        width: 92%;
        margin-left: 15px;
        margin-top: 50px;
    }
    #c1{
        font-size: 12px;
    }
    form > input[type=submit]{
        width: 83%;
    }
    
}
@media screen and (min-width: 1200px){
    h1{
        margin-top: 50px;
        position: absolute;
        background-color: rgb(96, 96, 255);
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        width: 450px;
        height: 60px;
        
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    #header-h2{
        position: absolute;
        text-align: start;
        width: 60vh;
        top: 25%;
        padding: 10px;
        font-size: 3em;
    }
    #header-p{
        position: absolute;
        text-align: justify;
        padding-left: 20px;
        width: 60vh;
        font-size: 1.5em;
        top: 63%;
    }
    form > div.campo{
        width: 92%;
        margin-left: 15px;
        margin-top: 50px;
    }
    #c1{
        font-size: 12px;
    }
    form > input[type=submit]{
        width: 84%;
    }
    
}